{% extends "base_with_sidebar.html" %}
{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <table style="display:inline-block;">
                    <tr>
                        <td>
                            <strong class="am-text-primary am-text-xl">{{folder.name}}</strong>
                        </td>
                        <td class="am-hide-sm-only">&nbsp</td>
                        <td class="am-hide-sm-only">
                            <span class="am-badge am-badge-primary">虚拟机数量:{{vms|length}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
            <table class="am-table">
                <thead>
                    <tr>
                        <td>虚拟机名称</td>
                        <td class="am-hide-sm-only">状态</td>
                        <td>CPU</td>
                        <td>内存</td>
                        <td class="am-hide-sm-only">存储</td>
                    </tr>
                </thead>
                <tbody>
                    {% for vm in vms %}
                    <tr class="onerow" id="{{vm[1]}}">
                        <td><a href="{{url_for('vsphere_vm_detail')}}?vmid={{vm.vmid}}">{{vm.name}}</a></td>
                        <td class="am-hide-sm-only"><span class="am-badge am-badge-primary">{{vm.state}}</span></td>
                        <td>{{vm.cpu}}</td>
                        <td>{{vm.memory/1024}} G</td>
                        <td class="am-hide-sm-only">
                            {{vm.committed|adjustnum}} / {{(vm.uncommitted+vm.committed)|adjustnum}}
                            <div class="am-progress">
                                <div class="am-progress-bar" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{(vm['committed']/(vm['uncommitted']+vm['committed']))|percentage}}%;">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">
            数据更新时间: {{version.synctime}}
            <br>
            数据version id: {{version.id}}
        </p>
    </footer>
{% endblock %}
{% block js %}
<script language="JavaScript">
    $(document).ready(function() {
        //手工展开对应的主菜单
        $("#sub-menu-vsphere").collapse('open');
    });
</script>
{% endblock %}