{% extends "base_with_sidebar.html" %}
{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-xl">项目概览</strong>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <td class="am-hide-sm-only">DataCenter名称</td>
                            <td>区域名称</td>
                            <td>项目名称</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for z in dcmap.zone |sort%}
                        {% for p in z.project|sort %}
                        <tr class="onerow">
                            <td class="am-hide-sm-only">
                                {{dcmap.name}}
                            </td>
                            <td>
                                <a href="{{url_for('vsphere_project_list')}}?vmfid={{z.id}}">{{z.name}}</a>
                            </td>
                            <td>
                                <a href="{{url_for('vsphere_vm_list')}}?vmfid={{p.id}}">{{p.name}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">
            数据更新时间: {{version.synctime}}
            <br>
            数据version id: {{version.id}}
        </p>
    </footer>
{% endblock %}
{% block js %}
<script language="JavaScript">
    $(document).ready(function() {
        //手工展开对应的主菜单
        $("#sub-menu-vsphere").collapse('open');
    });
</script>
{% endblock %}