{% extends "base_with_sidebar.html" %}
{% block header_btns %}
    <a href="#" class="am-btn am-btn-secondary">
        <i class="am-header-icon am-icon-user"></i>
        <span class="am-header-nav-title">
            账号
        </span>
    </a>
    <a href="{{url_for('logout')}}" class="am-btn am-btn-secondary">
        <i class="am-header-icon am-icon-power-off"></i>
        <span class="am-header-nav-title">
            退出
        </span>
    </a>
{% endblock %}
{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <span>
                    <font size="5">{{folder.name}}</font>
                </span>
                <span class="am-badge am-badge-primary">虚拟机数量:{{vms|length}}</span>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
            <table class="am-table">
                <thead>
                    <tr>
                        <td>虚拟机名称</td>
                        <td>状态</td>
                        <td>CPU</td>
                        <td>内存</td>
                        <td>存储</td>
                    </tr>
                </thead>
                <tbody>
                    {% for vm in vms %}
                    <tr class="onerow" id="{{vm[1]}}">
                        <td style="vertical-align:middle;"><a href="{{url_for('vsphere_vm_detail')}}?vmid={{vm.vmid}}">{{vm.name}}</a></td>
                        <td style="vertical-align:middle;"><span class="am-badge am-badge-primary">{{vm.state}}</span></td>
                        <td style="vertical-align:middle;">{{vm.cpu}}</td>
                        <td style="vertical-align:middle;">{{vm.memory/1024}} G</td>
                        <td>
                            {{vm.committed|adjustnum}} / {{(vm.uncommitted+vm.committed)|adjustnum}}
                            <div class="am-progress">
                                <div class="am-progress-bar" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100" style="width: {{(vm['committed']/(vm['uncommitted']+vm['committed']))|percentage}}%;">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
<div style="text-align:center;">数据更新时间:{{version.synctime}};</br>数据version id:{{version.id}};</div>
{% endblock %}
{% block js %}
<script language="JavaScript">
    $(document).ready(function() {
        //手工展开对应的主菜单
        $("#sub-menu-vsphere").collapse('open');
    });
</script>
{% endblock %}