{% extends "base_with_sidebar.html" %}
{% block header_btns %}
    <a href="#" class="am-btn am-btn-secondary">
        <i class="am-header-icon am-icon-user"></i>
        <span class="am-header-nav-title">
            账号
        </span>
    </a>
    <a href="{{url_for('logout')}}" class="am-btn am-btn-secondary">
        <i class="am-header-icon am-icon-power-off"></i>
        <span class="am-header-nav-title">
            退出
        </span>
    </a>
{% endblock %}
{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <span><font size="5">项目概览</font></span>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table">
                    <thead>
                        <tr>
                            <td>DataCenter名称</td>
                            <td>区域名称</td>
                            <td>项目名称</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for z in dcmap.zone |sort%}
                        {% for p in z.project|sort %}
                        <tr class="onerow">
                            <td>
                                {{dcmap.name}}
                            </td>
                            <td>
                                <a href="{{url_for('vsphere_project_list')}}?vmfid={{z.id}}">{{z.name}}</a>
                            </td>
                            <td>
                                <a href="{{url_for('vsphere_vm_list')}}?vmfid={{p.id}}">{{p.name}}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;">数据更新时间:{{version.synctime}};</br>数据version id:{{version.id}};</div>
{% endblock %}
{% block js %}
<script language="JavaScript">
    $(document).ready(function() {
        //手工展开对应的主菜单
        $("#sub-menu-vsphere").collapse('open');
    });
</script>
{% endblock %}