{% extends "base_with_sidebar.html" %}
{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-xl">Network列表</strong>
                <span class="am-badge am-badge-primary">数量:{{networks|length}}</span>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <table class="am-table">
                    <thead>
                        <tr>
                            <td>Network名称</td>
                            <td class="am-hide-sm-only">Network类型</td>
                            <td class="am-fr">数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n in networks| sort(attribute='name') %}
                        <tr class="onerow" id="{{n[0]}}">
                            <td><a href="{{url_for('vsphere_network_detail')}}?networkid={{n.id}}">{{n.name}}</a></td>
                            <td class="am-hide-sm-only"><span class="">{{n.type}}</span></td>
                            <td><span class="am-badge am-badge-primary am-fr">{{n.count}}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">
            数据更新时间: {{version.synctime}}
            <br>
            数据version id: {{version.id}}
        </p>
    </footer>
{% endblock %}
{% block js %}
<script language="JavaScript">
    $(document).ready(function() {
        //手工展开对应的主菜单
        $("#sub-menu-vsphere").collapse('open');
    });
</script>
{% endblock %}