{% extends "base_with_sidebar.html" %}

{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-cf"><strong class="am-text-primary am-text-lg">定时任务</strong> / <small>执行记录</small></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="tabs">
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">记录列表</a></li>
                        <li><a href="#tab2">详细结果</a></li>
                    </ul>
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active" id="tab1">
                            <div class="am-input-group am-u-lg-3 am-u-sm-6">
                                <input id="login_date" type="text" class="am-form-field" placeholder="选择日期" data-am-datepicker="{theme: 'default'}" readonly>
                                <span class="am-input-group-btn">
                                    <button id="calendar" class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                </span>
                            </div>

                            <div class="am-input-group am-u-lg-3 am-u-sm-6">
                                <input id="query" type="text" class="am-form-field" placeholder="名称">
                                <span class="am-input-group-btn">
                                    <button id="filter" class="am-btn am-btn-default" type="button"><span class="am-icon-search"></span> </button>
                                </span>
                            </div>

                            <table class="am-table am-table-striped am-table-hover table-main" id="task_his_list">
                                <thead>
                                <tr>
                                    <th class="table-title am-hide-sm-only">计划名称</th>
                                    <th class="table-title am-hide-sm-only">计划ID</th>
                                    <th class="table-title">任务名称</th>
                                    <th class="table-title">开始</th>
                                    <th class="table-title">结束</th>
                                    <th class="table-title am-hide-sm-only">状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="am-cf">
                                共 <span id="total">0</span> 条记录
                                <div class="am-fr" id="paging">
                                </div>
                            </div>
                        </div>
                        <div class="am-tab-panel" id="tab2">
                            <div id="pad">
                                <br>
                                请先选择记录...
                                <br>
                                <br>
                            </div>
                            <div id="detail">
                                <h3 id="selected_task"></h3>
                                <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-centered" id="rp_list">
                                    <tbody>
                                        <tr>
                                            <td>计划名称</td>
                                            <td id="schedule_name"></td>
                                        </tr>
                                        <tr>
                                            <td>计划ID</td>
                                            <td id="schedule_id"></td>
                                        </tr>
                                        <tr>
                                            <td>任务名称</td>
                                            <td id="task_name"></td>
                                        </tr>
                                        <tr>
                                            <td>开始时间</td>
                                            <td id="date_start"></td>
                                        </tr>
                                        <tr>
                                            <td>结束时间</td>
                                            <td id="date_done"></td>
                                        </tr>
                                        <tr>
                                            <td>状态</td>
                                            <td id="status"></td>
                                        </tr>
                                        <tr>
                                            <td>参数(args)</td>
                                            <td id="args"></td>
                                        </tr>
                                        <tr>
                                            <td>参数(kwargs)</td>
                                            <td id="kwargs"></td>
                                        </tr>
                                        <tr>
                                            <td>返回值</td>
                                            <td id="result"></td>
                                        </tr>
                                        <tr>
                                            <td>Traceback</td>
                                            <td><pre id="traceback" class="am-pre-scrollable am-text-left"></pre></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

{% endblock %}
{% block html %}

    <div class="am-modal am-modal-alert" style="z-index: 1501;" tabindex="-1" id="errorModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd" id="error_msg">

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script language="JavaScript">
    now = 1;
    query = '';
    startAt = '';
    $(document).ready(function() {

        //手工展开对应的主菜单
        $("#sub-menu-task").collapse('open')

        $("#detail").hide()

        $('#calendar').click(function(){
            startAt = $('#login_date').val()
            load_his_list(now,query,startAt);
        })

        $('#filter').click(function(){
            query = $('#query').val()
            load_his_list(now,query,startAt);
        })

        load_his_list(now,query,startAt);
    });
    function load_his_list(p,query,startAt){
        now = p;
        $.AMUI.progress.start();
        console.log("start load user list");
        jQuery.ajax({
            url: "{{url_for('task_his__his')}}",
            dataType: "json",
            data: {"p": p ,"query": query ,"startAt":startAt},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                $("#total").html(response.data.total);
                paging(response.data.prevNum, response.data.nextNum, response.data.total, response.data.perPage)
                $("#task_his_list tbody").empty();
                response.data.hisList.forEach(function(e){
                    var raw = $('<tr>'+
                                '<td class="am-hide-sm-only schedule_name">'+e.schedule_name+'</td>'+
                                '<td class="am-hide-sm-only schedule_id">'+e.schedule_id+'</td>'+
                                '<td class="task_name">'+e.task_name+'</td>'+
                                '<td class="date_start">'+e.date_start+'</td>'+
                                '<td class="am-hide-sm-only date_done">'+e.date_done+'</td>'+
                                '<td class="">'+
                                '   <input class="id" value="'+e.id+'" type="hidden"/>'+
                                '   <a class="status" href="#">'+e.status+'</a>'+
                                '</td>'+
                                '</tr>')
                    $("#task_his_list tbody").append(raw)
                });
                activeClickEvent();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
    function paging(prevNum, nextNum, total, perPage){
        totalPage = Math.ceil(total/perPage)
        console.log(totalPage)
        var paging = $('<ul class="am-pagination"></ul>')
        if(prevNum>0){
            paging.append('<li><a id="pre" href="#">«</a></li>')
        }else{
            paging.append('<li class="am-disabled"><a id="pre" href="#">«</a></li>')
        }

        offset = now - 2
        offset = offset<(totalPage-4)?offset:(totalPage-4)
        offset = offset>0?offset:1
        showTotal = 5>totalPage?totalPage:5
        for(var i=offset;i<offset+showTotal;i++){
            if(i==now){
                paging.append('<li class="am-active"><a class="paging" href="#">'+i+'</a></li>')
            }else{
                paging.append('<li><a class="paging" href="#">'+i+'</a></li>')
            }
        }

        if(nextNum<=totalPage){
            paging.append('<li><a id="next" href="#">»</a></li>')
        }else{
            paging.append('<li class="am-disabled"><a id="next" href="#">»</a></li>')
        }
        $("#paging").html(paging)
    }
    function activeClickEvent(){
        $('#pre').click(function(){
            console.log('pre')
            load_his_list(now*1-1,query,startAt);
        });
        $('.paging').click(function(){
            console.log('paging')
            load_his_list($(this).html(),query,startAt);
        });
        $('#next').click(function(){
            console.log('next')
            load_his_list(now*1+1,query,startAt);
        });
        $('.status').click(function(){
            id = $(this).parent().children('.id').val()
            schedule_name = $(this).parent().parent().children('.schedule_name').html()
            schedule_id = $(this).parent().parent().children('.schedule_id').html()
            task_name = $(this).parent().parent().children('.task_name').html()
            date_start = $(this).parent().parent().children('.date_start').html()
            date_done = $(this).parent().parent().children('.date_done').html()
            status = $(this).html()

            $("#pad").hide()

            $("#detail").show()

            $("#tabs").tabs('open',1);
            $("#selected_task").html("计划任务[ID:"+id+"]的详细信息:");
            $("#schedule_name").html(schedule_name)
            $("#schedule_id").html(schedule_id)
            $("#task_name").html(task_name)
            $("#date_start").html(date_start)
            $("#date_done").html(date_done)
            $("#status").html(status)

            load_detail(id)
        });
    }
    function load_detail(id){
        $.AMUI.progress.start();
        console.log("start load user list");
        jQuery.ajax({
            url: "{{url_for('task_his__his')}}",
            dataType: "json",
            data: {"id": id},
            type: "GET",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                if(response.result==1){
                    $("#args").html(response.data.args)
                    $("#kwargs").html(response.data.kwargs)
                    $("#result").html(response.data.result)
                    $("#traceback").html(response.data.traceback)
                }else{
                    $("#error_msg").html("没有找到记录。");
                    $("#errorModal").modal("toggle");
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal("toggle");
            }
        });
    }
</script>
{% endblock %}
