{% extends "base_with_sidebar.html" %}

{% block content %}
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户中心</strong></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
            <table class="am-table">
                <tbody>
                <tr>
                    <td>用户名</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>角色</td>
                    <td>{{user.role.alias}}</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>******<a class="am-btn am-btn-primary am-btn-sm am-fr" id="btnChangePassword">修改</a></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td><span id="email">{{user.email}}</span> <a class="am-btn am-btn-primary am-btn-sm am-fr" id="btnChangeEmail">修改</a></td>
                </tr>
                <tr>
                    <td>激活</td>
                    <td>{{user.active}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="am-modal" tabindex="1" id="changePasswordModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">修改密码
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <form id="changePasswordForm" action="" class="am-form">
            <div class="am-modal-bd">
                <fieldset>
                        <div class="am-form-group">
                            <input type="password" id="changePassword"
                                   placeholder="输入新密码"/>
                        </div>
                        <div class="am-form-group">
                            <input type="password" id="changePassword2" data-equal-to="#changePassword"
                                   placeholder="重复新密码"/>
                        </div>
                </fieldset>
                <button class="am-btn am-btn-default" type="submit">确定</button>
            </div>
            </form>
        </div>
    </div>

    <div class="am-modal" tabindex="1" id="changeEmailModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">修改邮箱
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <form id="changeEmailForm" action="" class="am-form">
            <div class="am-modal-bd">
                <fieldset>
                    <div class="am-form-group">
                        <input type="email" id="changeEmail" data-foolish-msg="请输入正确的用户邮箱"
                               placeholder="输入新邮箱地址"/>
                    </div>
                </fieldset>
                <button class="am-btn am-btn-default" type="submit">确定</button>
            </div>
            </form>
        </div>
    </div>

    <div class="am-modal am-modal-alert" tabindex="-1" id="errorModal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">错误</div>
            <div class="am-modal-bd" id="error_msg">

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn">确定</span>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='assets/js/sha-1.js') }}"></script>
<script language="JavaScript">
    $(document).ready(function() {

        $("#btnChangePassword").click(function(){
            $("#changePassword").val("");
            $("#changePassword2").val("");
            $("#changePasswordModal").modal({
                width: 400,
                dimmer:false
            });
        });

        $("#btnChangeEmail").click(function(){
            $("#changeEmail").val("");
            $("#changeEmailModal").modal({
                width: 400,
                dimmer:false
            });
        });


        $('#changePasswordForm').validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if(formValidity ){
                    // 验证成功的逻辑
                    user_pass = hex_sha1($('#changePassword').val());
                    $('#changePasswordModal').modal('close');
                    change_password(user_pass);
                }
                return false;
            }
        });

        $('#changeEmailForm').validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if(formValidity ){
                    // 验证成功的逻辑
                    email = $('#changeEmail').val();
                    $('#changeEmailModal').modal('close');
                    change_email(email);
                }
                return false;
            }
        });
    });

    function change_password(user_pass){
        $.AMUI.progress.start();
        console.log("start edit user");
        jQuery.ajax({
            url: "{{url_for('user_center')}}",
            dataType: "json",
            data: {"password":user_pass},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal({
                    dimmer:false
                });
            }
        });
    }

    function change_email(email){
        $.AMUI.progress.start();
        console.log("start edit user");
        jQuery.ajax({
            url: "{{url_for('user_center')}}",
            dataType: "json",
            data: {"email":email},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                console.log(response);
                $("#email").html(email);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                console.log("error");
                $("#error_msg").html("网络连接异常，请稍后重试。");
                $("#errorModal").modal({
                    dimmer:false
                });
            }
        });
    }
</script>
{% endblock %}