{% extends "base_with_sidebar.html" %}

{% block content %}
    <div class="admin-content-body" id="v-user-center">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户中心</strong></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
            <table class="am-table">
                <tbody>
                <tr>
                    <td>用户名</td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td>角色</td>
                    <td>{{user.role.alias}}</td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td>******<a class="am-btn am-btn-primary am-btn-sm am-fr" @click="changePassword">修改</a></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td><span id="email">{{user.email}}</span> <a class="am-btn am-btn-primary am-btn-sm am-fr" @click="changeEmail">修改</a></td>
                </tr>
                <tr>
                    <td>激活</td>
                    <td>{{user.active}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div id="changePasswordModal">
        <form id="changePasswordForm" action="" class="am-form">
            <dialog v-bind:show.sync="show">
                <span slot="header">修改密码</span>
                <div slot="body">
                    <fieldset>
                        <div class="am-form-group">
                            <input type="password" id="changePassword" v-model="password" minlength="6"
                                   placeholder="输入新密码"/>
                        </div>
                        <div class="am-form-group">
                            <input type="password" data-equal-to="#changePassword" value="${password2}" minlength="6"
                                   placeholder="重复新密码"/>
                        </div>
                    </fieldset>
                </div>
                <span slot="footer">
                    <button class="am-btn am-btn-link" type="submit">确定</button>
                </span>
                </dialog>
        </form>
    </div>

    <div id="changeEmailModal">
        <form id="changeEmailForm" action="" class="am-form">
            <dialog v-bind:show.sync="show">
                <span slot="header">修改邮箱</span>
                <div slot="body">
                    <fieldset>
                    <div class="am-form-group">
                        <input type="email" data-foolish-msg="请输入正确的用户邮箱"  v-model="email" minlength="6"
                               placeholder="输入新邮箱地址"/>
                    </div>
                    </fieldset>
                </div>
                <span slot="footer">
                    <button class="am-btn am-btn-link" type="submit">确定</button>
                </span>
            </dialog>
        </form>
    </div>

    <div id="errorModal">
        <dialog v-bind:show.sync="show">
            <span slot="header">错误</span>
            <span slot="body">${msg}</span>
            <span slot="footer"><span class="am-modal-btn" @click="close">确定</span></span>
        </dialog>
    </div>

    <template id="dialog">
        <div>
            <div class="am-modal am-modal-alert" v-bind:class="{ 'am-modal-active': show }" tabindex="-1" v-if="show" style="display:block;z-index: 1501;">
                <div class="am-modal-dialog" style="width:300px;">
                    <div class="am-modal-hd">
                        <slot name="header"></slot>
                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close @click="close">&times;</a>
                    </div>
                    <div class="am-modal-bd">
                        <slot name="body"></slot>
                    </div>
                    <div class="am-modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
            <div class="am-dimmer" data-am-dimmer v-bind:class="{ 'am-active': show }" v-if="show" style="display:block;"></div>
        </div>
    </template>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='assets/js/sha-1.js') }}"></script>
<script language="JavaScript">

    data = {
        name: '',
        userlist: [],
        total: 0,
        pagenums: [],
        hasPre: true,
        hasNext: true,
        now: 1
    }

    new Vue({
        el: '#v-user-center',
        data: data,
        methods: {
            changePassword: function(event){
                changePasswordModal.password = '';
                changePasswordModal.password2 = '';
                changePasswordModal.show=true;
            },
            changeEmail: function(event){
                changeEmailModal.email = '';
                changeEmailModal.show=true;
            }
        }
    })

    Vue.component('dialog', {
	    template: '#dialog',
	    props: {
	        show:{
	            type: Boolean,
	            default: false
	        }
	    },
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

	var errorModal = new Vue({
	    el: '#errorModal',
	    data: {
			show: false,
			msg: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

	var changePasswordModal = new Vue({
	    el: '#changePasswordModal',
	    data: {
			show: false,
			password: '',
			password2: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

	var changeEmailModal = new Vue({
	    el: '#changeEmailModal',
	    data: {
			show: false,
			email: ''
		},
	    methods: {
	        close: function() {
		        this.show = false;
		    }
	    }
	})

    $(document).ready(function() {

        $('#changePasswordForm').validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if(formValidity ){
                    // 验证成功的逻辑
                    user_pass = hex_sha1(changePasswordModal.password);
                    changePasswordModal.show = false;
                    change_password(user_pass);
                }
                return false;
            }
        });

        $('#changeEmailForm').validator({
            submit: function() {
                var formValidity = this.isFormValid();
                if(formValidity ){
                    // 验证成功的逻辑
                    email = changeEmailModal.email;
                    console.log(email);
                    changeEmailModal.show = false;
                    console.log(email);
                    change_email(email);
                }
                return false;
            }
        });
    });

    function change_password(user_pass){
        $.AMUI.progress.start();
        console.log("start edit user");
        jQuery.ajax({
            url: "{{url_for('user_center')}}",
            dataType: "json",
            data: {"password":user_pass},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }

    function change_email(email){
        $.AMUI.progress.start();
        console.log("start edit user");
        jQuery.ajax({
            url: "{{url_for('user_center')}}",
            dataType: "json",
            data: {"email":email},
            type: "POST",
            timeout : timeout,
            success: function(response) {
                $.AMUI.progress.done();
                $("#email").html(email);
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $.AMUI.progress.done();
                //call failed
                errorModal.msg='网络连接异常，请稍后重试。';
                errorModal.show=true;
            }
        });
    }
</script>
{% endblock %}